db
node_modules
package-lock.json
package.json
public/js
ts/*.js
yarn.lock

# For packaging
packaging/rpmbuild/SOURCES/
packaging/rpmbuild/RPMS/
packaging/rpmbuild/SRPMS/
dist


# Added by cargo
/target
